<script id="authorization-header.html" type="text/ng-template">
  <header header title="Authorization">
    <div class="row row--right">
      <div class="col margin-vertical">
        <a href="https://github.com/GoogleCloudPlatform/gcloud-node/edit/master/docs/authorization.md"
          class="v-btn">
          <img src="site/img/icon-link-github.svg" />
          Edit on GitHub
        </a>
      </div>
    </div>
  </header>
</script>

<div subpage
  header-templateUrl="authorization-header.html"
  title="Authorization">
  <btf-markdown highlight-markdown ng-include="'authorization.md'"></btf-markdown>
</div>
