# Format: //devtools/kokoro/config/proto/build.proto

# The entry point is the root trampoline.sh script.
# 'cloud-profiler-nodejs' is the scm.name in your job config.
build_file: "cloud-profiler-nodejs/.kokoro/trampoline.sh"

before_action {
  invoke_blaze {
    name: "trampoline"
    command: BUILD
    targets: "//cloud/kokoro/tools/trampoline:trampoline.par"
  }
}

env_vars: {
  key: "TRAMPOLINE_IMAGE"
  value: "gcr.io/cloud-devrel-kokoro-resources/node:14" # Adjust Node version as needed
}

# This env var tells trampoline_v1.py which script to execute *inside* Docker.
# The path is relative to the root of the checked-out SCM (google-cloud-node).
env_vars: {
  key: "TRAMPOLINE_BUILD_FILE"
  # Example for samples-test.cfg:
  value: "handwritten/cloud-profiler/.kokoro/samples-test.sh"
  # For system-test.cfg, this would be "handwritten/cloud-profiler/.kokoro/system-test.sh"
  # Adjust this value for each specific test config file.
}

# This env var tells trampoline_v1.py which directory to set as the working directory
# *inside* the Docker container. Path is relative to the SCM root.
env_vars: {
  key: "TRAMPOLINE_WORKDIR"
  value: "handwritten/cloud-profiler"
}
