<nav class="main-nav" ng-class="{ open: showNavDropdown }">
  <div class="nav-current" ng-click="showNavDropdown = !showNavDropdown">Node.js</div>
  <ul class="menu">
    <li>
      <a href="#" title="gcloud-node Documentation">
        <img src="site/img/icon-lang-nodejs-white.svg" alt="gcloud-node" class="menu-icon">
        Node.js
      </a>
    </li>
    <li>
      <a href="https://googlecloudplatform.github.io/gcloud-python" title="gcloud-python Documentation">
        <img src="site/img/icon-lang-python.svg" alt="gcloud-python" class="menu-icon">
        Python
      </a>
    </li>
    <li>
      <a href="https://googlecloudplatform.github.io/gcloud-ruby" title="gcloud-ruby Documentation">
        <img src="site/img/icon-lang-ruby.svg" alt="gcloud-ruby" class="menu-icon">
        Ruby
      </a>
    </li>
  </ul>
</nav>
