**/*.log
**/node_modules
.coverage
.nyc_output
docs/json
packages/google-cloud/README.md
packages/*/AUTHORS
packages/*/CONTRIBUTORS
packages/*/COPYING
__pycache__

# Ignore all lockfiles globally
**/package-lock.json
**/npm-shrinkwrap.json
**/yarn.lock
**/bun.lockb
**/bun.lock
**/pnpm-lock.yaml

# Allow root pnpm-lock.yaml
!/pnpm-lock.yaml
.pnpm-store/
