# Enforce LF line endings for all TS and JS files across the repo
*.ts text eol=lf
*.js text eol=lf

# Mark all protos directories as generated for Linguist
**/protos/* linguist-generated

# Set language for api-extractor.json files
**/api-extractor.json linguist-language=JSON-with-Comments

# Mark all .kokoro directories as generated
**/.kokoro/** linguist-generated
