{
  "report-dir": "./.coverage",
  "exclude": [
    "packages/*/src/*{/*,/**/*}.js",
    "packages/*/src/*/v*/*.js",
    "packages/*/test/**/*.js"
  ],
  "watermarks": {
    "branches": [
      95,
      100
    ],
    "functions": [
      95,
      100
    ],
    "lines": [
      95,
      100
    ],
    "statements": [
      95,
      100
    ]
  }
}
