env_vars: {
  key: "TRAMPOLINE_COMMAND"
  value: "../../.kokoro/common.sh"
}
env_vars: {
  key: "PACKAGE_SUBDIR"
  value: "handwritten/cloud-profiler"
}
# Format: //devtools/kokoro/config/proto/build.proto

# Build logs will be here
action {
  define_artifacts {
    regex: "**/*sponge_log.xml"
  }
}

# Download trampoline resources.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/trampoline"

# Use the trampoline script to run in docker.

# Configure the docker image for kokoro-trampoline.
env_vars: {
    key: "TRAMPOLINE_IMAGE"
    value: "gcr.io/cloud-devrel-kokoro-resources/node:14-user"
}
env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "handwritten/cloud-profiler/.kokoro/samples-test.sh"
}
env_vars: {
  key: "TRAMPOLINE_WORKDIR"
  # The directory to use as the working directory *inside the container*,
  # relative to the SCM root.
  value: "handwritten/cloud-profiler"
}
