# Format: //devtools/kokoro/config/proto/build.proto

# Point to the root trampoline script within the checked-out SCM
build_file: "cloud-profiler-nodejs/.kokoro/trampoline.sh"

env_vars: {
  key: "TRAMPOLINE_IMAGE"
  value: "gcr.io/cloud-devrel-kokoro-resources/node:14" # Or the appropriate image
}

env_vars: {
  key: "TRAMPOLINE_BUILD_FILE"
  # Path to the *actual test script* to run, relative to the SCM root
  value: "handwritten/cloud-profiler/.kokoro/samples-test.sh"
}

env_vars: {
  key: "TRAMPOLINE_WORKDIR"
  # The directory to use as the working directory *inside the container*,
  # relative to the SCM root.
  value: "handwritten/cloud-profiler"
}
