env_vars: {
  key: "TRAMPOLINE_COMMAND"
  value: "../../.kokoro/system-test.sh"
}
env_vars: {
  key: "PACKAGE_SUBDIR"
  value: "handwritten/cloud-profiler"
}
# Download resources for system tests (service account key, etc.)
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/google-cloud-nodejs"

env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "handwritten/cloud-profiler/.kokoro/samples-test.sh"
}

env_vars: {
  key: "SECRET_MANAGER_KEYS"
  value: "long-door-651-kokoro-system-test-service-account"
}
env_vars: {
  key: "TRAMPOLINE_WORKDIR"
  # The directory to use as the working directory *inside the container*,
  # relative to the SCM root.
  value: "handwritten/cloud-profiler"
}

env_vars: {
  key: "TRAMPOLINE_IMAGE"
  value: "gcr.io/cloud-devrel-kokoro-resources/node:14" # Or the appropriate image
}
