<section class="hero-banner">
  <div class="container clearfix">
    <div class="quote-box">
      <h1>gcloud</h1>
      <p>Google Cloud Client Library for Node.js
      - an idiomatic, intuitive, and natural way for Node.js developers to
      integrate with Google Cloud Platform services, like Cloud Datastore
      and Cloud Storage.</p>
    </div>

    <div class="quote-box--supplementary">
      <pre><code class="subtle--blue">$</code> npm install <code class="subtle--blue">--save</code> <strong>gcloud</strong></pre>
      <h4 class="latest-release subtle" ng-if="home.latestRelease">
        Latest Release <a ng-href="{{home.latestRelease.link}}" class="latest-release--link white">{{home.latestRelease.name}}</a>
        {{home.latestRelease.date|date}}
      </h4>
    </div>
  </div><!-- end of .container -->
</section><!-- end of .hero-banner -->

<section class="block featuring">
  <div class="container">
    <ul class="featuring-links">
      <li>
        <a href="#/docs/{{home.latestRelease.name}}/gcloud" title="gcloud-node docs" class="btn btn-docs">
          <img src="src/images/icon-lang-node-cta.svg" alt="Node.js icon" />
          Read the Docs
        </a>
      </li>
      <li>
        <a href="https://github.com/GoogleCloudPlatform/gcloud-node" title="gcloud-node on GitHub" class="ext-link">
          <img src="src/images/icon-link-github.svg" alt="GitHub icon" />
          GitHub
        </a>
      </li>
      <li>
        <a href="https://github.com/GoogleCloudPlatform/gcloud-node/issues" title="gcloud-node issues on Github" class="ext-link">
          <img src="src/images/icon-link-github.svg" alt="GitHub icon" />
          Issues
        </a>
      </li>
      <li>
        <a href="http://stackoverflow.com/questions/tagged/gcloud-node" title="gcloud-node on StackOverflow" class="ext-link">
          <img src="src/images/icon-link-stackoverflow.svg" alt="StackOverflow icon" />
          StackOverflow
        </a>
      </li>
      <li>
        <a href="http://npmjs.org/package/gcloud" title="gcloud-node on npm" class="ext-link">
          <img src="src/images/icon-link-package-manager.svg" alt="npm icon" />
          npm
        </a>
      </li>
    </ul>
  </div><!-- end of .container -->
</section><!-- end of .featuring -->

<section class="block about">
  <div class="container clearfix">
    <div class="quote-box">
      <h3 class="block-title">What is it?</h3>

      <p><code>gcloud</code> is a client library for accessing Google
      Cloud Platform services that significantly reduces the boilerplate
      code you have to write. The library provides high-level API
      abstractions so they're easier to understand. It embraces
      idioms of Node.js, works well with the standard library, and
      integrates better with your codebase.
      All this means you spend more time creating code that matters
      to you.</p>

      <p><code>gcloud</code> is configured to access Google Cloud Platform
      services and authenticate (OAuth 2.0) automatically on your behalf.
      With a one-line install and a private key, you are up and ready
      to go. Better yet, if you are running on a Google Compute Engine
      instance, the one-line install is enough!</p>

    </div>

    <div class="quote-box--supplementary">
      <h4>Example: Upload a file to Cloud Storage</h4>

      <div class="code-sample-tabs" ng-init="selected = 'compute engine'">
        <a ng-click="selected = 'compute engine'"
           ng-class="{selected: selected == 'compute engine'}"
           >Run in Compute Engine</a>
        <a ng-click="selected = 'elsewhere'"
           ng-class="{selected: selected == 'elsewhere'}"
           >Run elsewhere</a>
      </div>

      <div hljs hlsj-language="js" ng-show="selected == 'compute engine'">
// Authentication is automatic
// inside Google Compute Engine.
var gcloud = require('gcloud')({
  projectId: 'grape-spaceship-123'
});

var gcs = gcloud.storage();

var backups = gcs.bucket('backups');
backups.upload('db.zip', function(err, file) {
  // file.createReadStream();
  // file.getMetadata();
  // ...
});</div>

      <div hljs hljs-language="js" ng-show="selected == 'elsewhere'">
var gcloud = require('gcloud')({
  projectId: 'grape-spaceship-123',
  // Specify a path to a keyfile.
  keyFilename: '/path/to/keyfile.json'
});

var gcs = gcloud.storage();

var backups = gcs.bucket('backups');
backups.upload('db.zip', function(err, file) {
  // file.createReadStream();
  // file.getMetadata();
  // ...
});</div>

    </div>
  </div><!-- end of .container -->
</section><!-- end of .featuring -->

<section class="block examples">
  <div class="container clearfix">
    <h3 class="block-title">Examples</h3>

    <ul>
      <li>
        <a href="https://cloud.google.com/nodejs">Getting Started with Compute Engine and Node.js</a> (<em><a href="https://github.com/GoogleCloudPlatform/nodejs-getting-started">source</a></em>) - A tutorial for building a web application on Google Cloud Platform.
      </li>
      <li>
        <a href="http://gcloud-todos.appspot.com">TodoMVC</a> (<em><a href="https://github.com/GoogleCloudPlatform/gcloud-node-todos">source</a></em>) - TodoMVC backend using gcloud-node and Express.
      </li>
      <li>
        <a href="https://github.com/stephenplusplus/gcloud-kvstore">gcloud-kvstore</a> - Use a gcloud-node dataset as a Key/Value store.
      </li>
      <li>
        <a href="http://gitnpm.com/">gitnpm</a> (<em><a href="https://github.com/stephenplusplus/gitnpm">source</a></em>) - Easily lookup an npm package's GitHub repo using gcloud-node and Google App Engine.
      </li>
    </ul>
  </div>
</section>

 <section class="block">
    <div class="container clearfix">
    <h3 class="block-title">FAQ</h3>

    <h4>What is the relationship between the <code>gcloud</code> package
    and the <code>gcloud</code> command-line tool?</h4>
    <p>Both the <code>gcloud</code> command-line tool and
    <code>gcloud</code> package are a part of the Google Cloud SDK: a collection
    of tools and libraries that enable you to easily create and manage
    resources on the Google Cloud Platform. The <code>gcloud</code> command-line
    tool can be used to manage both your development workflow and your
    Google Cloud Platform resources while the <code>gcloud</code> package is the
    Google Cloud Client Library for Node.js.</p>

    <h4>What is the relationship between <code>gcloud</code>
    and the Google APIs Node.js Client?</h4>
    <p>The <a href="https://github.com/google/google-api-nodejs-client">
    Google APIs Node.js Client</a> is a client library for
    using the broad set of Google APIs.
    <code>gcloud</code> is built specifically for the Google Cloud Platform
    and is the recommended way to integrate Google Cloud APIs into your
    Node.js applications. If your application requires both Google Cloud Platform and
    other Google APIs, the 2 libraries may be used by your application.</p>
    </div>
</section> <!-- end of FAQ -->
