{#-

Copyright 2019 Google LLC

Licensed under the Apache License, Version 2.0 (the "License");
you may not use this file except in compliance with the License.
You may obtain a copy of the License at

    https://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing, software
distributed under the License is distributed on an "AS IS" BASIS,
WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
See the License for the specific language governing permissions and
limitations under the License.

-#}
{% import "../../../../_license.njk" as license -%}
{{license.license(commonParameters.copyrightYear)}}
import {
  {%- set serviceJoiner = joiner(", ") -%}
  {%- for service in api.services %}
    {{- serviceJoiner() -}}
    {{- service.name.toPascalCase() + 'Client' -}}
  {%- endfor -%}
} from '{{ api.publishName }}';

// check that the client class type name can be used
{%- for service in api.services %}
function doStuffWith{{ service.name.toPascalCase() + 'Client' }}(client: {{ service.name.toPascalCase() + 'Client' }}) {
  client.close();
}
{%- endfor %}

function main() {
{%- for service in api.services %}
  // check that the client instance can be created
  const {{ service.name.toCamelCase() }}Client = new {{ service.name.toPascalCase() + 'Client' }}();
  doStuffWith{{ service.name.toPascalCase() + 'Client' }}({{ service.name.toCamelCase() }}Client);
{%- endfor %}
}

main();
