{% import "_license.njk" as license -%}
{{license.license(commonParameters.copyrightYear)}}
'use strict';

const fs = require('fs');
const path = require('path');

const sharedConfigPath = path.join(__dirname, '../../.jsdoc.cjs');

if (fs.existsSync(sharedConfigPath)) {
  module.exports = require(sharedConfigPath);
} else {
  const pkg = require('./package.json');
  module.exports = {
    opts: {
      readme: './README.md',
      package: './package.json',
      template: './node_modules/jsdoc-fresh',
      recurse: true,
      verbose: true,
      destination: './docs/'
    },
    plugins: [
      'plugins/markdown',
      'jsdoc-region-tag'
    ],
    source: {
      excludePattern: '(^|\\/|\\\\)[._]',
      include: [
        'build/src',
        'protos'
      ],
      includePattern: '\\.js$'
    },
    templates: {
      copyright: 'Copyright {{ commonParameters.copyrightYear }} Google LLC',
      includeDate: false,
      sourceFiles: false,
      systemName: pkg.name,
      theme: 'lumen',
      default: {
        outputSourceFiles: false
      }
    },
    markdown: {
      idInHeadings: true
    }
  };
}
