env_vars: {
  key: "TRAMPOLINE_COMMAND"
  value: "../../.kokoro/common.sh"
}
env_vars: {
  key: "PACKAGE_SUBDIR"
  value: "handwritten/cloud-profiler"
}
# Format: //devtools/kokoro/config/proto/build.proto

