env_vars: {
  key: "TRAMPOLINE_COMMAND"
  value: "../../.kokoro/docs-devsite.sh"
}
env_vars: {
  key: "PACKAGE_SUBDIR"
  value: "handwritten/cloud-profiler"
}
# service account used to publish up-to-date docs.
before_action {
  fetch_keystore {
    keystore_resource {
      keystore_config_id: 73713
      keyname: "docuploader_service_account"
    }
  }
}

# doc publications use a Python image.
env_vars: {
    key: "TRAMPOLINE_IMAGE"
    value: "gcr.io/cloud-devrel-kokoro-resources/node:14-user"
}

# Download trampoline resources.
gfile_resources: "/bigstore/cloud-devrel-kokoro-resources/trampoline"

# Use the trampoline script to run in docker.

env_vars: {
    key: "TRAMPOLINE_BUILD_FILE"
    value: "github/google-cloud-node/handwritten/cloud-profiler/.kokoro/release/docs-devsite.sh"
}
